# Ciência dos Dados - Projeto 1 #

**Daniel Minson**

# Introdução: #

Esse projeto tem como objetivo analisar como a ação da UNAIDS em países da África em que atua desde 1996, momento em que foi fundada, vem alterando a vida da população desses países. Mais precisamente, ele pretende responder às seguintes perguntas:

A ação da agencia internacional ocasionou uma diminuição significativa no índice de mortes por AIDS?
A ação da agencia internacional pode ser correlacionada à um aumento do IDH e/ou do PIB per capita (GNP per capita)?

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
IDH = pd.read_excel('hdi_human_development_index.xlsx')
inflation = pd.read_excel('inflation_annual_percent.xlsx')
deaths = pd.read_excel("Indicator_Annual number of AIDS deaths.xlsx")
peoplewithaids = pd.read_excel("indicator_hiv_plwha.xlsx")
expectativadevida = pd.read_excel('indicator life_expectancy_at_birth.xlsx')
pibpercapita = pd.read_excel('indicator gapminder gdp_per_capita_ppp.xlsx')
pibpercapita.head()

,GDP per capita,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1028.0,1022.0,941.0,810.0,725.0,872.0,895.0,921.0,947.0,...,1173.0,1298.0,1311.0,1548.0,1637.0,1695.0,1893.0,1884.0,1877.0,1925.0
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,4350.0,3081.0,2877.0,3172.0,3457.0,3941.0,4326.0,3909.0,4434.0,...,7476.0,7977.0,8644.0,8994.0,9374.0,9640.0,9811.0,9961.0,10160.0,10620.0
4,Algeria,10113.0,9748.0,9693.0,9279.0,9006.0,9168.0,9375.0,9322.0,9646.0,...,12088.0,12289.0,12314.0,12285.0,12494.0,12606.0,12779.0,12893.0,13179.0,13434.0

**Mudando os índices, renomeando colunas e limpando dados:**

In [3]:
IDH= IDH.rename(columns = {"geo":'IDH'})
idh_idx=IDH.set_index("IDH")
idh_idx=idh_idx.dropna()

inflation= inflation.rename(columns = {"geo":'Inflação'})
inflation_idx=inflation.set_index("Inflação")
inflation_idx=inflation_idx.dropna()

deaths=deaths.rename(columns = {"Annual number of AIDS deaths":'Mortes'})
deaths_idx=deaths.set_index("Mortes")
deaths_idx=deaths_idx.dropna()

peoplewithaids=peoplewithaids.rename(columns = {"People living with HIV":'Pessoas com AIDS'})
peoplewithaids_idx=peoplewithaids.set_index("Pessoas com AIDS")
peoplewithaids_idx=peoplewithaids_idx.dropna()

expectativadevida=expectativadevida.rename(columns={"Life expectancy":"Expectativa de vida"})
expectativadevida_idx=expectativadevida.set_index("Expectativa de vida")
expectativadevida_idx=expectativadevida_idx.dropna()

pibpercapita=pibpercapita.rename(columns={"GDP per capita":"Expectativa de vida"})
pibpercapita_idx=pibpercapita.set_index("Expectativa de vida")
pibpercapita_idx=pibpercapita_idx.dropna()
deaths_idx.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
Mortes,,,,,,,,,,,,,,,,,,,,,
Afghanistan,60.0,60.0,60.0,60.0,60.0,150.0,150.0,150.0,150.0,150.0,...,150.0,150.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0
Armenia,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,150.0,...,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0
Australia,350.0,600.0,600.0,600.0,600.0,600.0,600.0,350.0,350.0,350.0,...,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0,150.0
Austria,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,...,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0
Azerbaijan,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,...,150.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0

**Estudo dos dados a cada 5 anos, sendo 5 anteriores e 5 posteriores ào começo da organização:**

In [4]:
idh_5_anos =idh_idx.loc[:,[1991, 1996, 2001]]
inflation_5_anos=inflation_idx.loc[:,[1991, 1996, 2001]]
#pd.to_numeric(deaths_idx["1991"], downcast='float')
#pd.to_numeric(deaths_idx["1996"], downcast='float')
#pd.to_numeric(deaths_idx["2001"], downcast='float')
deaths_5_anos=deaths_idx.loc[:,["1991", "1996", "2001"]]
pd.to_numeric(peoplewithaids_idx[1991], downcast='float')
peoplewithaids_5_anos=peoplewithaids_idx.loc[:,["1991", "1996", "2001"]]

expectativadevida_5_anos=expectativadevida_idx.loc[:,[1991, 1996, 2001]]
pibpercapita_5_anos =pibpercapita_idx.loc[:,[1991, 1996, 2001]]

C:\Users\danie\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [5]:
pessoascomaids_mortesporaids= peoplewithaids_5_anos.join(deaths_5_anos, how="inner", lsuffix ="_people_w_aids", rsuffix = "_mortesporaids")
pessoascomaids_mortesporaids.head()

,1991_people_w_aids,1996_people_w_aids,2001_people_w_aids,1991_mortesporaids,1996_mortesporaids,2001_mortesporaids
Afghanistan,NaN,1400.0,2000.0,60.0,150.0,150.0
Armenia,NaN,1600.0,3500.0,60.0,60.0,150.0
Australia,NaN,11000.0,13000.0,600.0,600.0,150.0
Austria,NaN,2300.0,5500.0,60.0,60.0,60.0
Azerbaijan,NaN,600.0,3000.0,60.0,60.0,150.0

In [6]:
idh_pib= idh_5_anos.join(pibpercapita_5_anos, how="inner", lsuffix ="_idh", rsuffix = "_pibpercapita")
idh_pib.head()

,1991_idh,1996_idh,2001_idh,1991_pibpercapita,1996_pibpercapita,2001_pibpercapita
Afghanistan,0.300,0.328,0.341,1022.0,895.0,862.0
Albania,0.618,0.637,0.670,3081.0,4326.0,5730.0
Algeria,0.581,0.609,0.653,9748.0,9375.0,10203.0
Argentina,0.713,0.738,0.776,9333.0,11150.0,10875.0
Armenia,0.628,0.609,0.645,3329.0,2333.0,3214.0

**Comportamento dos índices nos paises x, y, z:**

In [7]:
plt.title("Variação dos indices com a passagem do tempo")
plt.plot(, , 'red', label="Temperatura da água em graus celsius")
plt.ylabel("IDH")
plt.xlabel("Tempo em anos")

SyntaxError: invalid syntax (<ipython-input-7-097c89c11305>, line 2)